@import '../../../styles/variables';

.button { border: none; padding: 17px 22px; font-size: 1.4rem; color: $button-text; cursor: pointer;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18); border-radius: 11px;

  &_yellow { background-color: $accent;
    &:hover { background-color: rgba($accent, .9); }
  }

  &_green { background-color: $green;
    &:hover { background-color: rgba($green, .9); }
  }
}