@import '../../../styles/variables';

.character { background-color: #f0f0f0; padding: 10px 25px; border-radius: 8px; cursor: pointer;
  &__name { font-size: 1.12rem; text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1); font-weight: 700; margin-bottom: 25px; }
  &__meta { display: flex; align-items: center; gap: 30px; margin-bottom: 12px; }
  &__tags { display: flex; align-items: center; gap: 12px; }
  &__meta-item { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 15px; }
  &__meta-label { font-size: 0.75rem; color: #4B4B4B; }
  &__meta-value { font-size: 1.12rem; position: relative;
    &::after { content: ''; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 38px; height: 38px;
      border-radius: 50%; border: 3px solid $button-text;
    }
  }
}