@import '../../../styles/variables';

.marker { padding: 0 10px; box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18); border-radius: 11px;
  max-width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
  &_yellow, &_hermaphrodite, &_acworcscraakacrcoowaahaowo { background-color: $accent; }
  &_green, &_male, &_scraanwo { background-color: $green; }
  &_blue, &_brith { background-color: $blue; }
  &_pink, &_female, &_wwwoscraanwo { background-color: $pink; }
}