// colors
$button-text: #212121;
$background: #1F2A63;
$dark-background: #17002F;
$laght-background: #F0F0F0;
$accent: #FFC107;
$green: #73D677;
$grey: #CFDAB0;

// settings
$font-size: 16px;
$display-index: calc(1vw + 1vh);

// displays
$tablet: 1024px;
$mobile: 768px;