// colors
$button-text: #212121;
$background: #1F2A63;
$dark-background: #17002F;
$light-background: #F2F2F2;
$accent: #FFC107;
$green: #73D677;
$grey: #CFDAB0;
$blue: #07D6F2;
$pink: #C956FF;

// settings
$font-size: 16px;
$display-index: calc(1vw + 1vh);

// displays
$tablet: 1024px;
$mobile: 768px;