@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

@import './variables';

* { padding: 0; margin: 0; box-sizing: border-box; }

body { font-family: 'Karla', sans-serif; font-size: $font-size; }
.container { max-width: 1150px; margin: 0 auto; padding: 0 calc($display-index * 2); }

.react-select__control { min-height: auto !important; background-color: $light-background !important; }
.react-select__indicator { padding: 0 5px 0 25px !important; }
.react-select__indicator-separator { display: none; }
.react-select__menu { background-color: $light-background !important; }