@import '../../styles/variables';

.characters { padding: 30px 15px;
  &__title { font-size: 2.1rem; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); color: black; font-weight: bold; text-align: center;
    margin-bottom: 30px;
  }

  &__filters { display: flex; margin-bottom: 30px; }
  &__list { display: grid; grid-template-columns: repeat(3, 1fr); gap: 35px; }
  &__trigger { height: 5px; }
  &__note { text-align: center; color: tomato; font-size: 2.5rem; font-weight: bold; letter-spacing: 1px; margin-top: 25px; }

  @media (max-width: $mobile) {
    &__list { grid-template-columns: 1fr; }
  }
}