@import '../../../styles/variables';

.dropdown { position: relative;
  &__target { cursor: pointer; }
  &__content { position: absolute; top: 25px; right: 0; border: 1px solid $light; background-color: white; text-align: left;
    border-radius: 6px; box-shadow: 3px 3px 10px grey; transition: .3s; width: max-content; max-height: 325px; overflow-y: auto;
  }

  &__item { padding: 5px 25px; cursor: pointer;
    &:hover { background-color: $light-background; }
  }
}